<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <link rel="stylesheet" href="stylesheets/login.css">
    <link rel="stylesheet" href="stylesheets/padrao.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
    </style>

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Staatliches&display=swap');
    </style>
    <title>Cadastro</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

</head>

<body>

    <%- include('../nav.ejs')%>

        <div id="tcadastro" class="container animate__animated animate__backInDown">

            <img id="imglogin" src="../imagens/logo_pratagy.png" alt="">
            <h2>LOGIN</h2>

            <form action="/logar" method="post" class="form">
                <div class="mb-3">
                    <label for="nome" class="form-label">Usuário</label>
                    <input name="usuario[email]" type="nome" class="form-control" id="nomeUser" placeholder="Usuário">
                </div>

                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Senha</label>
                    <input name="usuario[senha]" type="password" class="form-control" id="exampleFormControlInput1" placeholder="Senha">
                </div>
                <button id="botão" type="submit">ENTRAR</button>
            </form>

            <!-- <a id="lbotão" href="/perfil"><button id="botão" type="submit">ENTRAR</button></a> -->

        </div>

        <%- include('../footer.ejs')%>
            <script srv="./script.js" defer></script>

            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>

</html>