<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <link rel="stylesheet" href="stylesheets/padrao.css">
    <link rel="stylesheet" href="stylesheets/vagacad.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
    </style>

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Staatliches&display=swap');
    </style>
    <title>Perfil</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark">
        <div id="nav" class="container-fluid">
          <a href="/" class="navbar-brand"><img src="imagens/logo_Pratagy.png" alt="logo Pratagy"></a>
      
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <div class="navlista">
              <Ul class="navbar-nav">
      
                <li class="nav-item">
                  <a class="nav-link text-white
                          " href="#sobrenos">Sobre nós </a>
                </li>
      
                <li class="nav-item">
                  <a class="nav-link text-white
                          " href="#acordian">Vagas Disponíveis</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white
                          "
                    href="https://www.pratagy.com.br/?gclid=Cj0KCQjwsrWZBhC4ARIsAGGUJuoA92Cb6Ky0nlvddnx5yt6kWANT_KjgRdnjTXuNtxQgRzxqblfaC-kaAuRJEALw_wcB"
                    target="_blank">Nosso
                    Site</a>
                </li>
      
                <li class="nav-item">
                  <a class="nav-link text-white
                          " href="/login"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"/>
                            <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
                          </svg></a>
                </li>
              </Ul>
            </div>
          </div>
      </nav>
        <div id="a" class="container-fluid ">

            <a href="/perfil" id="e"><button id="editar" type="submit">Cadastrar e editar vagas</button>
            </a>
            <a href="/curriculo" id="c"><button id="consultar" type="submit">Consultar currículos</button>
            </a>
            <!--  <div id="consutar" class="container">
            <h2>Consutar currículos</h2>

        </div> -->
        </div>





        <%- include('../footer.ejs')%>
            <script srv=" ./script.js " defer></script>

            <script src=" https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js " integrity=" sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8 " crossorigin=" anonymous "></script>
</body>

</html>