<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vaga</title>
</head>
<body>
    <form action="/vaga/<%- id %>?_method=delete" method='post'>
        <p><label>Vaga Selecionada: </label><%- vaga.nome %></p>
        <button type="submit">Excluir</button>
        <a href="/vaga/<%- id %>/editar">Editar</a>
    </form>
</body>
</html>